@import url("https://fonts.cdnfonts.com/css/04b19");
body {
  background-color: #282c34;
  margin: 0;
  font-family: "04b_19", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: "#fff";
}
